@import "base";

.van-cell__title {
  font-size: px2rpx(18);
  color: #333333;
  align-self: flex-start;
  margin-top: px2rpx(4);
}

.van-cell__value {
  color: #333333 !important;
  font-size: px2rpx(14);
}

.van-cell{
  width: auto !important;
  margin-right: px2rpx(15) !important;
}

.van-field__body {
  input {
    text-align: right;
  }
  textarea {
    text-align: right;
  }
}
.van-field__error-message{
  text-align: right !important;
}

.fill-order{
  display: flex;
  flex-direction: column;
  padding-bottom: px2rpx(91);
  .submit-bar{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .page-title{
    margin-top: px2rpx(25);
    margin-left: px2rpx(15);
    color: #333333;
    font-weight: bold;
    font-size: px2rpx(18);
  }
  .title-icon{
    width: px2rpx(3);
    height: px2rpx(13);
  }
  .title-text{
    font-size: px2rpx(13);
    margin-top: px2rpx(1);
    color: #FE9F05;
    font-weight: bold;
    margin-left: px2rpx(7);
  }
  .van-cell{
    align-items: center;
    padding-right: px2rpx(5) !important;
  }
  .traveler{
    position: relative;
    .add-traveler{
      position: absolute;
      top: px2rpx(5);
      right: px2rpx(15);
      display: inline-block;
      margin-right: 0;
      width: px2rpx(92);
      height: px2rpx(30);
      padding: 0;
      color: #FE9F05;
      font-size: px2rpx(12);
      font-weight: 500;
      border: 1px solid #FFC207;
      border-radius: 0;
      background-color: white;
    }
    .add-traveler:active{
      color: white;
      background-color: #FE9F05;
    }
  }
  .traveler-list{
    .cell-title{
      display: flex;
      flex-direction: column;
      .row1{
        display: flex;
        align-items: flex-end;
        text:first-child{
          color: #333333;
          font-size: px2rpx(18);
          line-height: px2rpx(18);
        }
        text:nth-child(2){
          line-height: px2rpx(15);
          color: #CCCCCC;
          font-size: px2rpx(12);
          margin-left: px2rpx(10);
        }
        .tag1{
          margin-left: px2rpx(10);
          .van-tag{
            background-color: #FE585A !important;
            border-radius: px2rpx(4);
          }
        }
        .tag2{
          margin-left: px2rpx(10);
          .van-tag{
            background-color: #FFC207 !important;
            border-radius: px2rpx(4);
          }
        }
      }
      .label{
        font-size: px2rpx(12);
        color: #CCCCCC;
        margin-top: px2rpx(5);
      }
    }
    .edit-icon{
      width: px2rpx(18);
      height: px2rpx(18);
    }
  }
  .project-list{
    .cell-project{
      margin-left: px2rpx(60) !important;
      .van-cell__title{
        font-size: px2rpx(15) !important;
      }
    }
    .cell-bottom{
      padding: 0 !important;
      height: 1px !important;
      line-height: 0 !important;
    }
  }
  .choice-date{
    .van-cell__value{
      flex: 2 !important;
    }
    .date-value{
      color: #CCCCCC;
      font-size: px2rpx(12);
    }
  }
  .bottom-border{
    border-bottom: 0.5px solid #eee;
    padding-bottom: px2rpx(15);
  }
  .term-service-err-msg{
    margin-left: px2rpx(15);
    margin-top: px2rpx(5);
    font-size: px2rpx(12);
    line-height: px2rpx(12);
    color: #F44;
  }
  .notice{
    margin-bottom: px2rpx(10);
    display: flex;
    align-items: flex-start;
    margin-left: px2rpx(15);
    .circle{
      margin-top: px2rpx(5);
      display: block;
      width: px2rpx(4);
      height: px2rpx(4);
      background-color: #CCCCCC;
      border-radius: 50%;
      overflow: hidden;
    }
    text{
      flex: 1;
      margin-left: px2rpx(3);
      margin-right: px2rpx(15);
      color: #999999;
      font-size: px2rpx(12);
      line-height: px2rpx(18);
    }
  }
  .terms-service-container {
    margin-top: px2rpx(10);
    margin-bottom: px2rpx(35);
    display: flex;
    align-items: center;
    text:nth-child(2){
      margin-left: px2rpx(4);
      font-size: px2rpx(13);
      line-height: px2rpx(13);
      color: #999999;
    }
    .term-service-text{
      margin-left: px2rpx(4);
      font-size: px2rpx(13);
      line-height: px2rpx(13);
      color: #FE9F05;
    }
  }
  .staging-container{
    position: fixed;
    bottom: px2rpx(60);
    left: 0;
    width: 100%;
    height: px2rpx(31);
    background-color: #E9E9E9;
    display: flex;
    align-items: center;
    .staging-icon{
      margin-left: px2rpx(15);
      border-top-left-radius: px2rpx(5);
      border-bottom-right-radius: px2rpx(5);
      width: px2rpx(17);
      height: px2rpx(16);
      text-align: center;
      color: white;
      font-size: px2rpx(10);
      background: #FE585A;
    }
    .staging-icon-desc{
      margin-left: px2rpx(4);
      color: #FE585A;
      font-size: px2rpx(11);
    }
    .staging-desc-container{
      margin-left: auto;
      display: flex;
      align-items: center;
      .staging-desc{
        font-size: px2rpx(12);
        color: #333333;
      }
      .price{
        margin-left: px2rpx(3);
        margin-right: px2rpx(3);
        color: #FE585A;
      }
      .choice{
        margin-left: px2rpx(10);
        margin-right: px2rpx(15);
        color: #FE9F05;
      }
    }
  }
  .van-checkbox__icon--round{
    border-radius: px2rpx(2);
    transform: scale(.7);
  }
  .van-checkbox__label{
    line-height: 0 !important;
  }
  .van-checkbox__icon{
    border-color: #FFC207;
  }
  .van-checkbox{
    line-height: 0;
    margin-left: px2rpx(15);
  }
}
