@import "base";

.service-personal{
  display: flex;
  flex-direction: column;
  .banner{
    width: 100%;
    height: px2rpx(140);
  }
  .tab-bar{
    margin-top: px2rpx(5);
    position: relative;
    .category{
      position: absolute;
      left: 0;
      top: 0;
      width: px2rpx(96);
      min-height: px2rpx(40);
      background-color: #FFC207;
      display: flex;
      align-items: center;
      justify-content: center;
      text{
        color: white;
        font-size: px2rpx(15);
      }
      .right-triangle{
        margin-top: px2rpx(8);
        margin-left: px2rpx(2);
        width: 0;
        height: 0;
        border-color: white transparent;
        border-width: 0 px2rpx(6) px2rpx(6) 0;
        border-style: solid;
      }
    }
  }
  .custom-class{
    .van-tab{
      color: #333333 !important;
      font-size: px2rpx(15) !important;
      line-height: px2rpx(40) !important;
    }
    .van-tab:nth-child(2){
      flex: 0 !important;
      color: white !important;
      background-color: #FFC207 !important;
      min-width: px2rpx(96) !important;
      min-height: px2rpx(40) !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
    }
    .van-tab:nth-child(2){
      view{
        overflow: visible !important;
      }
      view:after{
        content: '';
        position: absolute;
        top: px2rpx(20);
        width: 0 !important;
        height: 0 !important;
        border-color: white transparent !important;
        border-width: 0 px2rpx(6) px2rpx(6) 0 !important;
        border-style: solid !important;
      }
    }
    .van-tab--active{
      color: #F19F00 !important;
    }
    .van-hairline--top-bottom::after{
      border-top-width: 0 !important;
    }
    .van-hairline--top-bottom::after{
      margin-left: px2rpx(127.5);
      border-bottom-width: px2rpx(4) !important;
      border-bottom-color: #E3E3E3 !important;
    }
    .van-tabs__wrap{
      //position: fixed !important;
      // margin-left: px2rpx(96);
    }
    .van-tabs__wrap{
      height: px2rpx(40) !important;
    }
  }
}
